/* styles.css */

/* background*/

*{
    margin: 0px;
    padding: 0px;

}
body{
    background-image: linear-gradient(to bottom, #83898d, #c5c4c4);
    background-attachment: fixed;
    font-family: sans-serif;
}




/* .bold-header-h1 class for bold and centered <h1> elements */
.bold-title-h1 {
    font-weight: bold;
    text-align: center;
    font-size: 3em; /* Optional: Adjust size as needed */
    margin-top: 20px; /* Optional: Adjust spacing as needed */
}

.social-icons {
    margin: 0 10px;
    font-size: 30px; /* Set size of the icons */
    color: #0077b5; /* Blue color for LinkedIn and GitHub */
}


/*Navbar settings */

.navbar{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    border-bottom: solid 3px gray;
    border-top: solid 3px gray;
    padding:12px 28px;
    font-weight: 700;
    font-size :larger;
    align-items: center;
    letter-spacing: 3px
}

/*for logo in the nav bar which i do not have */
.navbar i{
    color: #8a1d45
}

.navbar .menu {
    display: flex;
}

.navbar ul{
    list-style: none;
}

.navbar .menu a{
    margin-right: 38px;
    text-decoration: none;
    color: black
}

.navbar a:hover{
    color: white
}

.banner-area {
    background-image: url("imgs/1.jpg");
    background-size: cover;
    background-position: center center;
    top: 0px;
    height: 100vh;
    position: fixed;
    width: 100%;
}

.content{
    width: 100%;
    height: 800px;
    position: relative;
    top: 600px;
}
.content bold-title-h2 {
    font-weight: bold;
    text-align: center;
    font-size: 2.5em; /* Optional: Adjust size as needed */
}

.content p{
    padding: 2% 0;
    line-height: 30px;
    text-align: justify;

}


